// * ********************************************************************************************************* *
// *
// * Copyright 2017-2018 NXP
// * Copyright 2019-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@use "@io-oidis-gui/Io/Oidis/Gui/ColorFunctions.d";
@use "@io-oidis-gui/Io/Oidis/Gui/ColorMap.d";

.PageLoader .Logo,
.SkeletonLoader {
  @include ColorFunctions.addBlink;
}

.RuntimeTest .GoToSpecific {
  height: 30px;
}

.HiddenElement {
  @include ColorFunctions.setOpacity(0);
  position: fixed;
  z-index: -100;
  top: -100px;
  left: -100px;
}

.ScreenSection {
  display: block;
}

.PrintSection {
  table,
  thead,
  tbody,
  tr {
    page-break-after: avoid;
    page-break-before: avoid;
    page-break-inside: avoid;
  }

  .TableHeader,
  .TableRow {
    div {
      float: left;
      overflow: hidden;

      width: 9%;
      padding: 2px;
      border: 1px solid ColorMap.$IO_OIDIS_BLACK;
      border-top-width: 0;
      border-right-width: 0;

      word-wrap: break-word;
    }
  }

  .TableHeader div {
    border-top-width: 1px;
    font-weight: bold;
    text-align: center;
  }
}

@media print {
  @page {
    size: a4;
    margin: 0;
  }

  html,
  body {
    margin: 0;
    padding: 0;
  }

  .ScreenSection,
  .tooltip {
    display: none;
  }

  .PrintSection {
    @include ColorFunctions.setOpacity(100);
    position: unset;
    bottom: unset;
    overflow: unset;
    height: unset;
  }
}
