// * ********************************************************************************************************* *
// *
// * Copyright 2021-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@use "@io-oidis-gui/Io/Oidis/Gui/ColorFunctions.d";
@use "@io-oidis-gui/Io/Oidis/Gui/ColorMap.d";

.Content {
  .DashboardPage {
    .ReportLog {
      padding: 10px;
      font-family: Consolas, serif;
      word-wrap: break-word;

      .Error {
        background-color: ColorMap.$IO_OIDIS_RED_LIGHT;
      }

      .Warning {
        background-color: ColorMap.$IO_OIDIS_LOGO_YELLOW;
      }
    }

    .UsersTable {
      .disabled {
        @include ColorFunctions.setOpacity(.5);
        @include ColorFunctions.addBlink;

        & { // stylelint-disable-line no-duplicate-selectors
          pointer-events: none;
        }
      }

      .dropdown {
        position: static;
      }
    }

    .pagination.disabled {
      @include ColorFunctions.setOpacity(.5);
      pointer-events: none;
    }

    .UsersPanel .Permissions {
      .dropdown {
        position: static;

        .dropdown-toggle {
          &::after {
            position: static;
          }
        }
      }
    }

    .OrganizationsPanel .Table {
      .dropdown {
        position: relative;

        .dropdown-toggle {
          &::after {
            position: absolute;
          }
        }
      }
    }

    .AgentsPanel {
      circle-progress {
        margin-left: 12px;
      }
    }
  }
}
