// * ********************************************************************************************************* *
// *
// * Copyright 2021-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@use "../GeneralVariables.d";

.#{GeneralVariables.$IoOidisHubGuiPages} {
  .SSOPage {
    form {
      width: 50%;
    }

    @media screen and (max-width: 700px) {
      form {
        width: 90%;
      }
    }

    @media screen and (min-width: 1200px) {
      form {
        width: 35%;
      }
    }
  }
}
