// * ********************************************************************************************************* *
// *
// * Copyright 2022-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *

.HeaderContainer {
  z-index: 1001;
}

@media (max-width: 300px) {
  .HeaderContainer {
    overflow: hidden;
  }
}

.HeaderPanel {
  /* stylelint-disable declaration-no-important */
  .btn-primary {
    &:hover,
    &:focus,
    &:active {
      background-color: transparent;
    }
  }

  .dropdown-menu {
    margin-top: 5px !important;

    .dropdown-item {
      white-space: nowrap;
    }
  }

  .Hamburger {
    display: none;
  }

  .bi-list {
    opacity: 1;
    transition: transform 400ms 200ms, opacity 400ms 200ms;
  }

  .bi-x-lg {
    position: absolute;
    top: 19px;
    left: 25px;
    transform: rotate(-45deg);

    opacity: 0;

    transition: transform 400ms, opacity 400ms;
  }

  .Close {
    .bi-list {
      opacity: 0;
      transition: transform 400ms, opacity 400ms;
    }

    .bi-x-lg {
      transform: rotate(0deg);
      opacity: 1;
      transition: transform 400ms 200ms, opacity 400ms 200ms;
    }
  }

  @media (max-width: 500px) {
    .Hamburger {
      display: initial;
    }

    .dropdown-menu {
      position: fixed !important;
      left: 2px !important;
      float: none !important;
      width: calc(100% - 20px) !important;
    }

    .Help .dropdown-menu {
      left: -10px !important;
    }
  }

  @media (max-width: 395px) {
    .Logo {
      height: 34px !important;
    }
  }

  @media (max-width: 340px) {
    .Logo {
      display: none;
    }
  }

  @media (max-width: 225px) {
    .Help {
      display: none;
    }
  }
  /* stylelint-enable */
}
