// * ********************************************************************************************************* *
// *
// * Copyright 2023-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@use "@io-oidis-gui/Io/Oidis/Gui/ColorMap.d" as GuiColorMap;
@use "../ColorMap.d";

$desktopWidth: 180px;
$hiddenWidth: 42px;
$mobileBreakPoint: 500px;

.MenuContainer {
  width: $hiddenWidth;
  transition: width 500ms;
}

.MenuContainer.Show {
  width: $desktopWidth;

  .MenuPanel {
    display: block;
    width: 100%;

    a,
    button {
      span {
        visibility: unset;
      }
    }

    .Items,
    .Footer {
      width: $desktopWidth;
    }

    .Footer {
      animation: changeHeightUp 0ms linear 500ms 1;
      animation-fill-mode: forwards;
    }

    .ShowItems {
      display: none;
    }

    .HideItems {
      display: block;
    }
  }
}

@media (max-width: $mobileBreakPoint) {
  .MenuContainer,
  .MenuContainer.Show {
    width: 0;

    .MenuPanel {
      position: fixed;

      a,
      button {
        width: $mobileBreakPoint;
      }

      .Footer {
        animation: changeHeightDown 0ms linear 500ms 1;
        animation-fill-mode: forwards;
      }

      .Footer,
      .Footer button {
        width: 0;
      }

      .MobileOnly {
        display: block;
      }
    }
  }

  .MenuContainer {
    .MenuPanel {
      .Items {
        width: 0;
      }

      .Footer {
        transition: width 500ms;
      }
    }
  }

  .MenuContainer.Show {
    .MenuPanel {
      overflow: auto;
      height: calc(100% - 35px);
      background-color: rgba(0, 0, 0, .6);

      .Items {
        width: 80vw;
      }
    }
  }
}

@media (max-width: 250px) {
  .MenuContainer.Show {
    .MenuPanel .Items {
      width: 95vw;
    }
  }
}

.MenuPanel {
  position: absolute;
  z-index: 1000;
  transform: translateZ(100px);
  width: auto;

  .btn-outline-light.active {
    background-color: rgba(248, 249, 250, .8);
  }

  .btn-outline-light:hover {
    background-color: rgba(248, 249, 250, .95);
  }

  hr {
    background-color: ColorMap.$IO_OIDIS_GRAY_LIGHT2;
  }

  a,
  button {
    overflow: hidden;

    width: calc(#{$desktopWidth} + 20px);
    border-width: 0;
    border-radius: 0;

    text-align: left;

    span {
      padding-left: 10px;
      visibility: hidden;
      transition: visibility 400ms;
    }
  }

  .Items,
  .Footer {
    background-color: GuiColorMap.$IO_OIDIS_VIOLET_DARK;
  }

  .Items {
    width: $hiddenWidth;
    transition: width 500ms;
  }

  .Footer {
    overflow: hidden;

    width: 100%;
    height: 0;

    animation: initHeight 0ms linear none 1;
    animation-fill-mode: forwards;

    button {
      width: 100%;
    }
  }

  .MobileOnly {
    display: none;
  }

  .ShowItems,
  .HideItems {
    text-align: right;
  }

  .ShowItems {
    display: block;
  }

  .HideItems {
    display: none;
  }

  @media (hover: hover) {
    .Items:hover {
      width: $desktopWidth;

      a,
      button {
        span {
          visibility: unset;
        }
      }
    }
  }
}

@keyframes initHeight {
  0% {
    height: 0;
  }

  100% {
    height: 36px;
  }
}

@keyframes changeHeightUp {
  0% {
    height: 0;
  }

  100% {
    height: 36px;
  }
}

@keyframes changeHeightDown {
  0% {
    height: 0;
  }

  100% {
    height: 36px;
  }
}
