// * ********************************************************************************************************* *
// *
// * Copyright 2023-2025 Oidis
// *
// * SPDX-License-Identifier: BSD-3-Clause
// * The BSD-3-Clause license for this file can be found in the LICENSE.txt file included with this distribution
// * or at https://spdx.org/licenses/BSD-3-Clause.html#licenseText
// *
// * ********************************************************************************************************* *
@use "../ColorMap.d";

circle-progress {
  overflow: hidden;
  width: 32px;
  height: 32px;

  &::part(base) {
    width: 32px;
    height: 32px;
  }

  &::part(value) {
    stroke: ColorMap.$IO_OIDIS_BLUE_PRIMARY;
    stroke-linecap: round;
    stroke-width: 14px;
  }

  &::part(circle) {
    stroke-width: 8px;
  }

  &::part(text) {
    font-size: 40px;
  }
}
